name: Build and Release v2dat

on:
  push:
    branches: [ master, main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    strategy:
      matrix:
        include:
          - goarch: amd64
            goos: linux
          - goarch: arm64
            goos: linux
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'

      - name: Build Binary
        run: |
          # Собираем с уникальным именем для каждой архитектуры
          GOOS=${{ matrix.goos }} GOARCH=${{ matrix.goarch }} go build -v -ldflags="-s -w" -o v2dat .
          # Архивируем
          tar -czf v2dat-${{ matrix.goos }}-${{ matrix.goarch }}.tar.gz v2dat

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: v2dat-${{ matrix.goarch }}
          path: v2dat-${{ matrix.goos }}-${{ matrix.goarch }}.tar.gz

  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          merge-multiple: true

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: latest
          files: |
            v2dat-linux-amd64.tar.gz
            v2dat-linux-arm64.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
